@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-primary-50: oklch(0.97 0.02 250);
    --color-primary-100: oklch(0.93 0.04 250);
    --color-primary-200: oklch(0.87 0.07 250);
    --color-primary-300: oklch(0.78 0.11 250);
    --color-primary-400: oklch(0.68 0.15 250);
    --color-primary-500: oklch(0.58 0.19 250);
    --color-primary-600: oklch(0.50 0.20 250);
    --color-primary-700: oklch(0.43 0.18 250);
    --color-primary-800: oklch(0.37 0.15 250);
    --color-primary-900: oklch(0.32 0.12 250);
    --color-primary-950: oklch(0.25 0.09 250);

    --color-secondary-50: oklch(0.97 0.02 165);
    --color-secondary-100: oklch(0.93 0.04 165);
    --color-secondary-200: oklch(0.87 0.07 165);
    --color-secondary-300: oklch(0.78 0.11 165);
    --color-secondary-400: oklch(0.68 0.15 165);
    --color-secondary-500: oklch(0.58 0.14 165);
    --color-secondary-600: oklch(0.50 0.13 165);
    --color-secondary-700: oklch(0.43 0.11 165);
    --color-secondary-800: oklch(0.37 0.09 165);
    --color-secondary-900: oklch(0.32 0.07 165);
    --color-secondary-950: oklch(0.25 0.06 165);

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
